.header {
  height: 90vh;
  background-image: url("../../img/hero.jpg");
  background-size: cover;
  background-position: center bottom;
  display: flex;
  flex-direction: column;
  padding: 0 80px;

  & .nav {
    padding: 36px 0;
    display: flex;
    align-items: center;

    & .logo img {
      max-height: 30px;
    }

    & .links {
      margin: 0 auto;
      display: flex;

      & .link {
        margin: 0 20px;
        font-weight: 500;
        font-size: 16px;
      }
    }
  }

  & .hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;

    width: 50%;
    margin-right: auto;
    /* background-color: yellow; */

    & h1 {
      color: white;
      font-weight: 900;
      font-size: 100px;
      line-height: 85%;
    }
    & h2 {
      font-size: 36px;
      color: white;
      font-weight: bold;
      margin: 24px 0;
    }
    & button {
      background-color: white;
      padding: 12px 16px;
      width: 200px;
      border: none;

      color: black;
      font-weight: bold;
      font-size: 22px;
      border-radius: 12px;
      text-align: center;
    }
  }
}

.section {
  padding: 100px 80px;
  display: flex;
  flex-direction: column;

  & h2 {
    font-weight: bold;
    font-size: 30px;
  }
  & .label {
    font-weight: bold;
    font-size: 16px;
  }
  & .caption {
    border-radius: 0 0 10px 10px;
    background-color: #333;
    padding: 12px 20px;
    font-size: 14px;
  }
  & .gallery {
    display: flex;
    flex-grow: 1;

    & .vertical {
      flex-direction: column;
      flex-basis: 50%;
    }
    & .card1 {
      width: 100%;
    }
    & .card2 {
      width: 50%;
    }
    & .card4 {
      width: 25%;
    }
    & .card3 {
      width: 33%;
    }
    & .card3:not(:last-child), & .card4:not(:last-child) {
      margin-right: 30px;
    }
    & .img {
      height: 250px;
      border-radius: 10px;
      background-size: cover;
      background-position: center;
    }
    & .liveAnywhere0 {
      background-image: url("../../img/live_anywhere0.jpeg");
      margin: 15px 0;
    }
    & .liveAnywhere1 {
      background-image: url("../../img/live_anywhere1.jpeg");
      margin: 15px 0;
    }
    & .liveAnywhere2 {
      background-image: url("../../img/live_anywhere2.jpeg");
      margin: 15px 0;
    }
    & .liveAnywhere3 {
      background-image: url("../../img/live_anywhere3.jpeg");
      margin: 15px 0;
    }
    & .hosts0 {
      background-image: url("../../img/hosts0.jpeg");
    }
    & .hosts1 {
      background-image: url("../../img/hosts1.jpeg");
    }
    & .hosts2 {
      background-image: url("../../img/hosts2.jpeg");
    }
    & .onlineexp1 {
      background-image: url("../../img/onlineexp1.jpeg");
      margin-right: 30px;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
    }
    & .onlineexp2 {
      background-image: url("../../img/onlineexp2.jpeg");
      margin-right: 15px;
      margin-bottom: 30px;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
    }
    & .onlineexp3 {
      background-image: url("../../img/onlineexp3.jpeg");
      margin-bottom: 30px;
      margin-left: 15px;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
    }
    & .onlineexp4 {
      background-image: url("../../img/onlineexp4.jpeg");
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
    }
  }
}
.light {
  background-color: white;
  color: black;
}
.dark {
  background-color: black;
  color: white;
}
