.nav {
  padding: 36px 200px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  & .logo img {
    max-height: 30px;
  }
}
.header {
  margin: 0 200px;

  & h1 {
    font-weight: bold;
    font-size: 26px;
  }
}
.images {
  display: flex;
  margin: 40px 200px;

  & .img {
    flex-grow: 1;
    border-radius: 10px;
    background-size: cover;
    background-position: center;
    min-height: 200px;
  }
  & .grid {
    width: 50%;
    & .row {
      display: flex;
    }
  }
  & .img1 {
    background-image: url("../../img/listing1.png");
    width: 50%;
    margin-right: 20px;
  }
  & .img2 {
    background-image: url("../../img/listing2.jpeg");
    width: 25%;
    margin-right: 20px;
    margin-bottom: 20px;
  }
  & .img3 {
    background-image: url("../../img/listing3.jpeg");
    width: 25%;
    margin-bottom: 20px;
  }
  & .img4 {
    background-image: url("../../img/listing4.jpeg");
    width: 25%;
    margin-right: 20px;
  }
  & .img5 {
    background-image: url("../../img/listing5.jpeg");
    width: 25%;
  }
}
.info {
  margin: 0 200px;
  & .listing {
    display: flex;

    & .listingInfo {
      width: 60%;
      font-size: 14px;
      color: #8C8C8C;

      & h3 {
        font-weight: bold;
        font-size: 22px;
        color: #000000;
      }
      & .amenity:nth-child(odd) {
        font-weight: bold;
        font-size: 18px;
        color: #000000;
      }

      & .amenity:nth-child(even) {
        margin-bottom: 24px;
      }
    }
    & .booking {
      width: 40%;
      margin-left: 30px;

      & .module {
        padding: 20px;
        border: 1px solid #DADADA;
        border-radius: 10px;
      }

      & .top {
        display: flex;
        justify-content: space-between;

        & .price {
          font-size: 22px;
          font-weight: bold;
        }
      }
      & .select1 {
        display: flex;
        border: 1px solid #DADADA;
        border-bottom: 0px solid #DADADA;
        border-radius: 10px 10px 0px 0px;
        margin-top: 20px;

        & .select {
          width: 50%;
          padding: 12px;
        }
        & .select:first-child {
          border-right: 1px solid #DADADA;
        }
      }
      & .select2 {
        padding: 12px;
        border: 1px solid #DADADA;
        border-radius: 0px 0px 10px 10px;
        margin-bottom: 20px;
      }
      & .label {
        font-weight: bold;
        font-size: 14px;
      }
      & .placeholder {
        font-weight: 500;
        font-size: 14px;
        color: #8C8C8C;
      }

      & button {
        background-color: #FEBF1C;
        padding: 12px 0px;
        width: 100%;
        border: none;

        color: black;
        font-weight: bold;
        font-size: 18px;
        border-radius: 10px;
        text-align: center;
      }
    }
  }
  & .reviews {

  }
}
.otherOptions {
  border-top: 1px solid #DADADA;
  padding: 60px 200px;

  & h4 {
    font-weight: bold;
    font-size: 18px;
    color: #000000;
  }
  & div {
    font-size: 18px;
    color: #8C8C8C;
  }
}
