@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url("https://rsms.me/inter/font-files/Inter-Regular.woff2");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  src: url("https://rsms.me/inter/font-files/Inter-Bold.woff2");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  src: url("https://rsms.me/inter/font-files/Inter-Black.woff2");
}

body {
  margin: 0;
  font-family: "Inter";
  color: #19191a;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
:global(#root) {
  height: 100%;
}